.spinner-wrapper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  height: 100vh;
}

:host ::ng-deep .custom-spinner circle{   
  stroke: #3949AB;
}