<h1>Novo Anúncio</h1>
<div class="formulario-wrapper">
  <div class="box-cadastro">
    <form class="formulario" [formGroup]="formulario">
      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="nome">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Sobrenome</mat-label>
          <input type="text" matInput formControlName="sobrenome">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Celular</mat-label>
          <input type="tel" matInput formControlName="celular">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Selecione o perfil</mat-label>
          <mat-select formControlName="perfil">
            <mat-option value="1">Vendedor</mat-option>
            <mat-option value="2">Comprador</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="senha">
      </mat-form-field>
      <button mat-raised-button (click)="efetuarRegistro()">Registrar</button>
    </form>
  </div>
</div>