h1 {
  text-align: center;
}

.formulario-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  /* height: calc(100vh - 110px); */
}

.box-cadastro {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: #3949AB solid 1px;
  max-width: 424px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
}

button {
  width: 100%;
}

@media (min-width: 642px){
  .row {
    display: flex;
    flex-direction: row;
  }
}