<h1>Novo Usuário</h1>
<div class="formulario-wrapper">
  <div class="box-cadastro border-color-primary">
    <form class="formulario" [formGroup]="formulario">
      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="nome">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Sobrenome</mat-label>
          <input type="text" matInput formControlName="sobrenome">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Celular</mat-label>
          <input type="tel" matInput formControlName="telefone">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Selecione o perfil</mat-label>
          <mat-select formControlName="perfilId">
            <mat-option value="1">Anunciante</mat-option>
            <mat-option value="2">Comprador</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="efetuarRegistro()">Registrar</button>
    </form>
  </div>
</div>
