<div class="wrapper-login">
  <div class="box-login">
    <form [formGroup]="formulario">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha">
      </mat-form-field>
      <button mat-button (click)="efetuarLogin()">Entrar</button>
      <button mat-button>Limpar</button>
    </form>
  </div>
</div>
