@import '../../../custom-theme.scss';

button {
  width: 100%;
}

.wrapper-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  height: calc(100vh - 150px);
}

.box-login {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: $color-primary solid 1px;
  max-width: 424px;
}

.input {
  width: 100%;
  margin-top: 5px;
}

.botoes-form {
  margin-top: 5px;
}

.margin-bottom {
  margin-bottom: 18px;
}