h2 {
  text-align: center;
}

img {
  width: 80px;
  height: 80px;
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  display: block;
}

.marcas-wrapper {
  display: flex;
  justify-content: center;
}

.marcas-box {
  width: 99vw;
  border: 1px black solid;
  min-width: 400px;
}

.marcas {
  display: flex;
  overflow-x: auto;
}

.marca {
  width: 115px;
  height: 115px;
  flex: none;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
  margin-top: 5px;
}