h2 {
  text-align: center;
}

img {
  width: 80px;
  height: 80px;
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  display: block;
}

button {
  border: none;
  background-color: inherit;
}

.marcas-wrapper {
  display: flex;
  justify-content: center;
}

.marcas-box {
  width: 99vw;
  border: 1px black solid;
  min-width: 250px;
  display: flex;
  align-items: center;
}

.marcas {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.marca {
  padding: 5px 5px;
  scroll-snap-align: start;
}

.marca-logo {
  width: 115px;
  height: 115px;
  flex: none;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.marca-nome {
  margin-top: 5px;
  text-align: center;
}

@media only screen and (max-width: 820px){
  button {
    display: none;
  }
}

@media only screen and (max-width: 420px){
  button {
    display: none;
  }

  img {
    width: 50px;
  }

  .marca-logo {
    width: 75px;
    height: 75px;
  }
}