<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ anuncio.veiculo.marca }} {{ anuncio.veiculo.modelo }}</mat-card-title>
    <mat-card-subtitle>{{anuncio.veiculo.ano}}</mat-card-subtitle>
  </mat-card-header>
    <img mat-card-image class="imagem" [src]="anuncio.veiculo.imagem" alt="imagem de carro">
  <mat-card-content>
    <p>
      {{anuncio.descricao}}
    </p>
    <p>
      {{anuncio.valor | currency: 'R$'}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="abrirDetalhes(anuncio)">DETALHES</button>
    <button mat-button>COMPARTILHAR</button>
  </mat-card-actions>
</mat-card>