<h1>Novo Anúncio</h1>
<div class="formulario-wrapper">
  <div class="box-cadastro border-color-primary">
    <form class="formulario" [formGroup]="formulario">
      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Descrição</mat-label>
          <input type="text" matInput formControlName="descricao">
          <mat-error class="erro-mensagem" *ngIf="formulario.controls.descricao.hasError('required')">
            Descrição é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Preço R$</mat-label>
          <input type="text" matInput formControlName="valor" mask="separator" thousandSeparator=".">
          <mat-error class="erro-mensagem" *ngIf="formulario.controls.valor.hasError('required')">
            Preço é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Ano</mat-label>
          <input type="text" matInput formControlName="ano" mask="0000">
          <mat-error class="erro-mensagem" *ngIf="formulario.controls.ano.hasError('required')">
            Ano é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Selecione a marca</mat-label>
          <input matInput type="text" aria-label="Selecione a marca" [formControl]="marcaIdControl" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let opcao of opcoesFiltradas | async" [value]="opcao.nome">
              {{opcao.nome}}
            </mat-option>
          </mat-autocomplete>
          <mat-error class="erro-mensagem" *ngIf="marcaIdControl.errors">
            Marca é <strong>obrigatório</strong>.
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Km</mat-label>
        <input type="text" matInput formControlName="km" mask="separator" thousandSeparator=".">
        <mat-error class="erro-mensagem" *ngIf="formulario.controls.km.hasError('required')">
          Km é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Cor</mat-label>
        <input type="text" matInput formControlName="cor">
        <mat-error class="erro-mensagem" *ngIf="formulario.controls.cor.hasError('required')">
          Cor é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Imagem</mat-label>
        <ngx-mat-file-input [formControl]="imagemControl" [multiple]="multiple" [accept]="accept"></ngx-mat-file-input>
        <mat-error class="erro-mensagem" *ngIf="imagemControl.errors">
          Imagem é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Modelo</mat-label>
        <input type="text" matInput formControlName="modelo">
        <mat-error class="erro-mensagem" *ngIf="formulario.controls.modelo.hasError('required')">
          Modelo é <strong>obrigatório</strong>.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary"
       (click)="efetuarRegistro()"
       [disabled]="(formulario.invalid || imagemControl.invalid || marcaIdControl.invalid)"
       >Registrar</button>
    </form>
  </div>
</div>