<h1>Novo Anúncio</h1>
<div class="formulario-wrapper">
  <div class="box-cadastro">
    <form class="formulario" [formGroup]="formulario">
      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Descrição</mat-label>
          <input type="text" matInput formControlName="descricao">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Preço</mat-label>
          <input type="text" matInput formControlName="valor">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="input margin-right" appearance="fill">
          <mat-label>Ano</mat-label>
          <input type="text" matInput formControlName="ano">
        </mat-form-field>

        <mat-form-field class="input" appearance="fill">
          <mat-label>Selecione a marca</mat-label>
          <mat-select formControlName="marcaId">
            <mat-option value="1">Volkswagen</mat-option>
            <mat-option value="2">Nissan</mat-option>
            <mat-option value="3">Porshe</mat-option>
            <mat-option value="4">Honda</mat-option>
            <mat-option value="4">Ferrari</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Km</mat-label>
        <input type="text" matInput formControlName="km">
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Cor</mat-label>
        <input type="text" matInput formControlName="cor">
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Imagem</mat-label>
        <input type="text" matInput formControlName="imagem">
      </mat-form-field>

      <mat-form-field class="input" appearance="fill">
        <mat-label>Modelo</mat-label>
        <input type="text" matInput formControlName="modelo">
      </mat-form-field>
      <button mat-raised-button (click)="efetuarRegistro()">Registrar</button>
    </form>
  </div>
</div>