.wrapper-pesquisa {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  padding: 0 0 10px 0;
  z-index: 2;
  padding: 0 15px 15px 15px;
  form {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 5px;
    input {
      width: 100%;
      border-radius: 5px;
      outline: none;
      border: none;
      text-indent: 2em;
    }
  }
}

// ::ng-deep .mat-focused .mat-form-field-label {
//   /*change color of label*/
//   color: green !important;
//  }

//  ::ng-deep.mat-form-field-underline {
//   /*change color of underline*/
//   background-color: green !important;
// } 

// ::ng-deep.mat-form-field-ripple {
//  /*change color of underline when focused*/
//  background-color: green !important;;
// }