<nav class="menu">
  <div class="lado-esquerdo">
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['anuncios']">Anúncios</button>
    <button mat-button [matMenuTriggerFor]="menu">Mais</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['anuncios/novo-anuncio']">Anuncie</button>
      <button mat-menu-item [routerLink]="['vendas']">Vendas</button>
      <button mat-menu-item [routerLink]="['/']">Etc</button>
    </mat-menu>
  </div>
  <div class="meio"></div>
  <div class="ladodireito">
    <button mat-button [matMenuTriggerFor]="login">
      <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
    </button>
    <mat-menu #login="matMenu">
      <button mat-menu-item [routerLink]="['login']">Entrar</button>
      <button mat-menu-item [routerLink]="['usuario/novo-usuario']">Crie a sua conta</button>
    </mat-menu>
  </div>
</nav>

