<nav class="menu">
  <div class="lado-esquerdo">
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['anuncios']">Anúncios</button>
    <button mat-button [matMenuTriggerFor]="menu">Mais</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['novo-anuncio']">Anuncie</button>
      <button mat-menu-item [routerLink]="['vendas']">Vendas</button>
      <button mat-menu-item [routerLink]="['/']">Etc</button>
    </mat-menu>
  </div>
  <div class="meio"></div>
  <div class="ladodireito">
    <button mat-button [matMenuTriggerFor]="login">Login</button>
    <mat-menu #login="matMenu">
      <button mat-menu-item [routerLink]="['login']">Entrar</button>
      <button mat-menu-item [routerLink]="['novo-usuario']">Cadastre-se</button>
    </mat-menu>
  </div>
</nav>

