@import '../../../custom-theme.scss';

.menu {
  display: flex;
  justify-content: space-between;
  background-color: $color-primary;
  color: aliceblue;
  padding: 10px 0 10px 0;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 1;
  max-height: 35px;
}

.lado-esquerdo {
  display: flex;
  flex-direction: row;
}

.meio {
  
}

.nome-usuario {
  white-space: nowrap;
}

.lado-direito {
  
}