.menu {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: aliceblue;
  padding: 10px 0 10px 0;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 1;
}

.lado-esquerdo {

}

.meio {
  
}

.lado-direito {
  
}